@{
    var breadcrumbItems = new string[] { "C#", "VB", "C++" };
    
}
<div id="breadcrumbs" style="background-color: #ccc">
    <p>This is breadcrumbs</p>
    <nb-demo-layout text='from breadcrumbs'></nb-demo-layout>
    <hr />
    <nb-demo-breadcrumbs v-bind:items="this.breadcrumbItems">复杂的组件</nb-demo-breadcrumbs>
</div>

@using (Html.Delayed())
{
    <script type="text/x-template" id="nb-demo-breadcrumbs">
        <div>
            <el-button v-for="item in items" key="item" type="primary">{{item}}</el-button>
        </div>
    </script>

    <script>
        require(['vue'], function (Vue) {

            console.log('from _breadcrumbs');


            Vue.component('nb-demo-breadcrumbs', {
                name: 'nb-demo-breadcrumbs',
                template: '#nb-demo-breadcrumbs',
                props: ['items']
            });

            require(['layoutVm'], function (layoutVm) {
                
                //todo read from razor
                @*var demoJson = @breadcrumbItems.ToJson();*@ 

                //read demo
                console.log(layoutVm.breadcrumbItems);

                //set demo
                var breadcrumbItems = ['1', '3', '3'];
                layoutVm.breadcrumbItems = breadcrumbItems;
                console.log(layoutVm.breadcrumbItems);
            });
        });
    </script>
}
