<h2>VueLayout2 Home Index</h2>
<hr />
<div id="pageApp">
    <h2>{{demo.content}}</h2>
</div>

<nb-demo-layout style="background-color: yellow" text='from home index'></nb-demo-layout>
@section scripts
{
    <script>
        require(['vue'], function (Vue) {

            console.log('from home index');
            var vm = new Vue({
                el: '#pageApp',
                data: {
                    demo: {
                        content: 'from home index, blah...'
                    }
                }
            });
            return vm;
        });
    </script>
}