<div id="fromFoo">
    <p>This is _foo</p>
</div>

@using (Html.Delayed("partial_styles"))
{
    <style>
        #fromFoo {
            background-color: #ff0000;
        }
    </style>
}

@using (Html.Delayed())
{
    <script>
        console.log('from _foo');
    </script>
}

