<style>
    #footer {
        background-color: #ff0000;
    }
</style>

<div id="footer">
    <p>This is Footer</p>
</div>

@using (Html.Delayed())
{
    <script>
        console.log('from _footer');
    </script>
}

