@{
    var tes = "";
}

<h2>Delayed Home Index</h2>
@*@Html.Partial("_Foo")*@

@section scripts
{
    <style>
        #fromIndex {
            background-color: #ff0000;
        }
    </style>

    <script>
        console.log('from Delayed Home Index');
    </script>
}