@{
    ViewBag.Title = "Home Page";
}

<h2>Angular Index 1+1 = {{1 + 1}}</h2>
<div ng-controller="demoCtrl">
    <p ng-bind="message">
    </p>
</div>

@section scripts
{
    <script src="~/Content/scripts/home.index.js"></script>
}
